
.comment-subject {
   font-weight: bold;
   font-style: italic;
   margin-bottom: 5px;
   width: 90%;
}
.comment-input {
   background-color: #2C2C2C;
   width: 80%;
   resize: none;
   color: white;
}

button {
   color: #820AD1;

}

 .comment-list {
   padding: 0 0 0 6px;
   width: 80%;
   font-weight:lighter;
   
 }


  