.course {
    display: flex;
    gap: .5rem;
}

.course-video {
    width: 80%;
}

.course-playlist {
    margin-top: 1rem;
    width: 20%;
    height: inherit;
    display: flex;
    flex-direction: column;
    
}

.course-chapter {
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
    margin: 0;
    font-weight: 600;
}

.course-chapter_time {
    font-size: .85rem;
}

.course-chapter:hover {
    background-color: #eaeaea;
    border-radius: 4px;
    transition: .5s;
}

.course-details {
    margin-left: .5rem;
    margin-top: .5rem;
}

.course-title {
    margin: 0;
}

.course-author {
    margin: 0;
    margin-top: .5rem;
}

.course-description {
    width: 80%;
}