.course-block {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.course-img {
    width: 10rem;
    height: 10rem;
}

.text {
    margin: 0;
}

.course-name {
    font-weight: 600;
}

.course-author {
    color: #ffffffb9;
}

.course-rating {
    display: flex;
    align-items: baseline;
    gap: .5rem;
}

.course-rating-stars {
    color: #fcba03;
}