.create-course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    gap: 2rem;
}

.create-course-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.create-course-videos {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.course-videos {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.create-video {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .75rem;
}

.create-video input {
    width: 100%;
}

.add-course-btn {
    display: none;
}

.add-course-btn:last-child {
    display: block;
}

